:root {
  --height-navbar: 10vh;
  --width-sidebar: 90px;
  --color-main: #212030;
  --color-border: rgb(52, 52, 70);
  --color-dark: rgb(65, 65, 73);

  --color-white: #ffffff;
  --color-lightblue: rgb(216, 223, 236);
  --color-bisque: bisque;
  --color-wood: rgb(222, 185, 134);
  --color-wood-light: rgb(222, 213, 134);
  --color-wood-dark: rgb(179, 149, 108);
  --color-aquamarine: aquamarine;
  --color-aquamarine-light: rgb(111, 235, 173);
  --color-aquamarine-dark: rgb(72, 207, 162);
  --color-green: green;
  --color-cornflowerblue: cornflowerblue;
  --color-primary: rgb(0, 123, 255);
  --color-deeppink: deeppink;
  --color-deeppink-light: rgb(255, 20, 196);
  --color-deeppink-dark: rgb(218, 6, 165);
  --color-red: #9b0000;
  --color-grey: grey;
  --color-secondary: #6c757d;
  --color-bluelight: rgb(56, 196, 252, 0.4);

  --font-3l: 28px;
  --font-2l: 24px;
  --font-l: 20px;
  --font-m: 16px;
  --font-s: 12px;

  --box-shadow-wood-opa: 0 0 10px rgba(222, 185, 134, 0.3),
    0 0 20px rgba(222, 185, 134, 0.2), 0 0 30px rgba(222, 185, 134, 0.2),
    0 0 110px rgba(222, 185, 134, 0.2), 0 0 130px rgba(222, 185, 134, 0.2),
    0 0 150px rgba(222, 185, 134, 0.2);

  --box-shadow-wood-light: 0 0 10px rgba(222, 185, 134, 0.3),
    0 0 20px rgba(222, 185, 134, 0.2), 0 0 30px rgba(222, 185, 134, 0.2);

  --box-shadow-wood-opa-focus: 0 0 10px rgba(222, 185, 134, 0.6),
    0 0 20px rgba(222, 185, 134, 0.5), 0 0 30px rgba(222, 185, 134, 0.4),
    0 0 110px rgba(222, 185, 134, 0.2), 0 0 130px rgba(222, 185, 134, 0.2),
    0 0 150px rgba(222, 185, 134, 0.2);

  --box-shadow-wood: 0 0 5px rgba(222, 185, 134, 0.4),
    0 0 10px rgba(222, 185, 134), 0 0 20px rgba(222, 185, 134, 0.3),
    0 0 30px rgba(222, 185, 134, 0.2), 0 0 110px rgba(222, 185, 134, 0.1),
    0 0 150px rgba(222, 185, 134, 0.1);

  --text-shadow-wood: 0 0 5px var(--color-wood), 0 0 15px var(--color-wood-dark),
    0 0 25px rgba(222, 185, 134, 0.6);

  --text-shadow-aquamarine: 0 0 5px var(--color-aquamarine),
    0 0 15px var(--color-aquamarine-dark), 0 0 25px rgba(72, 207, 162, 0.6);

  --text-shadow-deeppink: 0 0 5px var(--color-deeppink),
    0 0 15px var(--color-deeppink-dark), 0 0 25px rgba(255, 20, 196, 0.6);
}

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

tr {
  vertical-align: middle;
}

td,
th,
table {
  margin-bottom: 0 !important;
  font-size: 14px;
  color: var(--color-white) !important;
  background-color: transparent !important;
}

.table-hover > tbody > tr:hover {
  transition: transform 0.2s ease, background-color 0.3s ease;
  border-bottom: 1px solid var(--color-wood);
}

.table-hover > tbody > tr:hover > td {
  color: var(--color-wood);
}

tr:hover > td {
  color: var(--color-wood) !important;
}

li {
  list-style: none;
}

.tooltip-inner {
  max-width: 600px !important;
  width: 100% !important;
  text-align: start;
}

select:focus,
input:focus,
button:focus {
  box-shadow: none !important;
}

.router-link-style {
  color: var(--color-cornflowerblue);
}

.router-link-style:hover {
  color: var(--color-primary);
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 8px rgba(179, 149, 108, 0.4);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 8px rgba(222, 185, 134, 0.5);
}
